<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/WomanSafety?serverTimezone=UTC</property>
        <property name="connection.username">safety</property>
        <property name="connection.password">457417</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="hello.Entity.InstructionsEntity"/>
        <mapping class="hello.Entity.QuestionsEntity"/>
        <mapping class="hello.Entity.SurveysEntity"/>
        <mapping class="hello.Entity.UserScoreEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
